<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060519359797-jvlchbtkqo3rv946pidr4bv1envfj3i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060519359797-jvlchbtkqo3rv946pidr4bv1envfj3i0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060519359797-8u51g8ccej6gbi2tkee4ljd3ggg9cd8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3nnMyecEdY6x0bvpkv4Kiwn5XMSDB3ps</string>
	<key>GCM_SENDER_ID</key>
	<string>1060519359797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestyn.app</string>
	<key>PROJECT_ID</key>
	<string>neighbourhood-74945</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbourhood-74945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060519359797:ios:d6f2c8cedb2e75dca5887c</string>
	<key>DATABASE_URL</key>
	<string>https://neighbourhood-74945.firebaseio.com</string>
</dict>
</plist>
